@import "../../global/_global.scss";
@import "../../blocks/_quote-card.scss";
@import "../../blocks/_tags.scss";

.quote-selected {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include tablet {
    flex-direction: row-reverse;
    align-items: flex-start;
  }
}
