.user-page {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include tablet {
    flex-direction: row-reverse;
  }
}

.user-page__inner {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include tablet {
    flex-grow: 1;
    gap: 24px;
  }
}

.user-page__links {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

  @include tablet {
    gap: 16px;
  }
}
