.user-page {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include tablet {
    flex-direction: row-reverse;
  }
}

.user-page__inner {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include tablet {
    flex-grow: 1;
    gap: 24px;
  }
}

.user-page__links {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

  @include tablet {
    gap: 16px;
  }
}

.user-page__all-favorites {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 16px 24px;
  text-decoration: none;
  border-radius: 8px;
  background-color: $base-white;
  line-height: 1;

  @include tablet {
    padding: 20px 32px;
  }
}
